.upload-btn-wrapper {
overflow: hidden;
}

.btnUpload {
border: none;
color: #fff;
background-color: transparent;
padding: 0;
vertical-align: top;
}

.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
filter: alpha(opacity=0);
}